
# Dependencies
node_modules
.pnpm-store

# Environment
.env
.env.local
.DS_Store

# Build Control
dist
build
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Workspace Data (Don't commit user code unless intended)
workspace/
